
<div class="event-name">
  <%=h event.name %>
</div>

<table class="event-info">
<% if event.all_day -%>
  <tr>
    <td class="event-label">all-day:</td>
    <td class="event-value"><input type="checkbox" checked disabled /></td>
  </tr>
<% end -%>
  <tr>
    <td class="event-label">from:</td>
    <td class="event-value"><%=h event_start_string(event) %></td>
  </tr>
  <tr>
    <td class="event-label">to:</td>
    <td class="event-value"><%=h event_end_string(event) %></td>
  </tr>
<% unless event.reminders.nil? or event.reminders.empty? -%>
  <tr>
    <td class="event-label">reminders:</td>
    <td class="event-value">
      <% event.reminders.each do |rem| %>
        <%=h truncate(rem.email_address, 18) %><br />
        <%=h days_before_hash[rem.days_before_to_send] %><br />
      <% end %>
    </td>
  </tr>
<% end -%>
<% unless event.notes.nil? or event.notes.empty? -%>
  <tr>
    <td class="event-label">note:</td>
    <td class="event-value"><%=h event.notes %></td>
  </tr>
<% end -%>
</table>
