<div class="subtitle">
  Events <%=h @shown_month.strftime("in %b '%y") unless @shown_month.nil? %>
</div>

<% @events.each do |ev| %>
<div class="event" event_id="<%=h ev.id %>">
  <div class="event-date"><%= date_abbrev(ev) %></div>
  <%= link_to_function ev.name, "ajax_load_url('#{event_path(ev)}')", :class => "ajax" %>
  <!-- <div class="event-name"><%=h ev.name %></div> -->
</div>
<% end %>

