<div class="subtitle">
  <%=h @event.name %>
</div>

<div class="event">
  <%=h date_full @event %>
</div>

<div class="event">
  Notes:
</div>
<div class="event-notes">
  <%=h @event.notes %>
</div>

<div class="controls">
  <%= link_to_function "Back", "ajax_month_index('#{month_path(nil)}');",
	:class => "ajax", :title => "Back" %> --

  <%= link_to_function "Edit", "ajax_load_url('#{edit_event_path(@event)}')",
	:class => "ajax", :title => "Edit" %> --

  <%= link_to 'Delete', @event,
	:confirm => 'Really delete this event?', :method => :delete %>
</div>
