<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Calendar</title>
  <%= stylesheet_link_tag 'application', 'event_calendar', 'redbox' %>
  <%= javascript_include_tag :defaults, 'event_calendar', 'redbox' %>
</head>
<body>

<%= "<div id='notice'>#{flash[:notice]}</div>" if flash.has_key? :notice %>
<%= "<div id='error'>#{flash[:error]}</div>" if flash.has_key? :error %>

<%= yield %>

</body>
</html>
